
<header>
  <nav class="static-nav">
    <div class="nav-title">
      <p class="web-name">schematic</p>
    </div>
    <div class="nav-links">
      <ul>
        <li><a href="#" routerLink="/">home</a></li>
        <li><a href="#" routerLink="/contact">contact</a></li>
      </ul>
    </div>
   
  </nav>
</header>
<div class="burger">
  <div class="burger-line"></div>
  <div class="burger-line"></div>
  <div class="burger-line"></div>
</div>
<div class="drawer">
  <div class="trans"></div>
  <div class="dr-right">
  <ul>
    <li><a href="#" routerLink="/">home</a></li>
    <li><a href="#" routerLink="/contact">contact</a></li>
  </ul></div>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>