/* You can add global styles to this file, and also import other style files */
*{
    user-select: none;
    font-size: 1.1rem;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    outline: none;
}
*::-webkit-scrollbar {
    display: none;
}
body{
    overflow-x: hidden;
    scrollbar-width: 0;
}
.h{
    display: flex;
    align-items: center;
}
.v{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ww-90{width: 90vw;}
.center{justify-content: center;}
.even{justify-content: space-around;}
.between{justify-content: space-between;}
.w-100{width: 100%;}
.w-75{width:75%}
.w-50{width:50%}
.w-25{width:25%}
.ww-100{width: 100vw;}
.ww-75{width:75vw}
.ww-50{width:50vw}
.ww-25{width:25vw}
.left{align-items: flex-start;}
.small{font-size: .9rem;
    text-decoration: none;
color: rgb(68, 68, 68);}
.wrap{flex-wrap: wrap;}