<form class="top-section">
    <div class="desc">
        <h2>Welcome to quotes</h2>
        <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
        Veritatis excepturi earum, unde reiciendis ab sunt officia corrupti quo deserunt at rerum,
         praesentium distinctio facilis, dolorem illum atque eos voluptates consequatur.
        </p>
    </div>
    <div>
        <app-add-qoute></app-add-qoute>
    </div>
    
</form>


<app-show-qoute></app-show-qoute>
    <!-- end card -->
    
  
     

