header{
    width: 100vw;
    height: 75vh;
    background-color: rgb(0, 119, 255);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-image: url(../images/B-Kxm1ICEAEEcen.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
nav{
    height: 3rem;
    width: 75vw;
    border-radius: .5rem;
    padding: .3rem 1rem;
    box-shadow: 0 .1rem .6rem -.2rem rgb(27, 27, 27);
    background-color: white;
    transform: translateY(1.3rem);
}
.nav-title{
    text-transform: capitalize;
    font-size: 1.4rem;
}
nav>div{
    height: 100%;
    display: flex;
    align-items: center;
}
.search-holder,.search{
    height: 100%;
    border-radius: .3rem; 
}
.search{
    height: 90%;
    
}
.search>input{
    height: 100%;
    min-width: 30vw;
    border: none;
    border: 1px solid grey;   
    transition: .4s ease;
    padding-left: 1rem;
    border-radius: .3rem ;
    margin-right: .2rem;
    color: rgb(51, 51, 51);
}

.search>input:focus{
    transition: .4s ease;
    transform: translateY(-.15rem);
    box-shadow: 0 .1rem .6rem -.1rem rgb(47, 0, 255);
}
.logo{
    box-shadow: 0 .1rem .4rem -.1rem rgb(61, 61, 61);
    height:2.5rem;
    text-decoration: none;
    background-image: url(../images/ca6e0904b3829cdf18a4e06f38b3a7cc.jpg);
    width: 2.5rem;
    background-position: center;
    background-size: cover;
    margin: 0 .2rem;
    border-radius: 5rem;
}
.filler{
    position: absolute;
    width: 100vw;
    height: 100%;
    background-color: rgba(1, 31, 66, 0.445);
}
.topcard{
    min-height: 10rem ;
    min-width: 16rem;
    width: 32%;
    margin: .5% 0;
    border-radius: .3rem;
    background-color: white;
    box-shadow: 0 .1rem .5rem -.1rem grey;
    align-items: unset;
    padding: .2rem .3rem;
    margin-top: 10vw;

}
.user_img{
    box-shadow: 0 0 .4rem -.1rem rgb(54, 54, 54);
    border-radius: 3rem;
    height: 4.3rem;
    width: 4.3rem;
    margin-right: .5rem;

}
.card{
    min-height: 13rem ;
    min-width: 16rem;
    width: 32%;
    margin: .5% 0;
    border-radius: .3rem;
    background-color: white;
    box-shadow: 0 .1rem .5rem -.1rem grey;
    align-items: unset;
    max-width: 21rem;
}
h1{
    font-size: 2.9rem;
    margin-bottom: 2rem;
    font-weight: lighter;
    padding-left: 1rem;
    text-transform: capitalize;
}
.user-img{
    border-radius: 3rem;
    height: 2.3rem;
    width: 2.3rem;
    margin-right: .3rem;

}
.card-top{
    padding:  0 .2rem .2rem .3rem ;
}
.container
{   
    margin-left: 5vw;
    width: calc(90vw - 2rem);
    padding: 4rem 1rem;
    justify-content: space-evenly;
}
.bottom{
    width: 97%;
    padding: .2rem .3rem;
    justify-content: flex-end;
}
.red{
    margin: 0 .1rem;
    padding:.2rem .4rem;
    background-color: rgb(255, 0, 34);
    border-radius: .15rem;
    color: white;
    font-size: .95rem;
}
.btn{
    margin: 0 .1rem;
    padding:.2rem .4rem;
    background-color: rgb(221, 221, 221);
    border-radius: .15rem;
    color: rgb(39, 39, 39);
    font-size: .95rem;
}
.repodesc{
    padding: .2rem .5rem;
}