.quote-area,.author-area{
    font-size: .8rem;
}
.desc h2{
    font-size: 2rem;
    font-weight: normal;
}
h3{
    font-size: 1.6rem;
    font-weight: normal;
}
.create-quote{
    border:none;
    box-shadow: 0 .2rem .8rem -.4rem blue;
    padding: 1rem;
    border-radius: .2rem;
    margin-top: 2rem;
    width: calc(90vw - 4rem);
    max-width: 23rem;
    min-height: 1.8rem;
    display: flex;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    justify-content: flex-start;
}
.type-qt{
    padding: .5rem;
    width: calc(90vw - 4rem);
    max-width: 100%;
    min-height: 8rem;
    overflow-wrap: normal;
    border-radius: .2rem;
    border: 1px solid grey;
    margin-right: .2rem;
    margin-bottom: 1rem;
    background-color: rgba(255, 255, 255, 0.801);

}
.quote{
    padding: .5rem;
    width: 93%;
    align-self: center;
    margin-left: .2rem;
    transition: .4s ease;
    height: 1.8rem;
    overflow-wrap: normal;
    border-radius: 0rem;
    border: 1px solid grey;
    border-width: 0 0 1px 0;
    margin-right: .2rem;
    margin-bottom: 1rem;
     background-color: rgba(255, 255, 255, 0.801);

}
.quote:focus{
    width: 96%;
    border-color: rgb(27, 27, 27);
    transition: .4s ease;
}

.type-qt:focus{
    box-shadow:0 .1rem .6rem -.2rem rgb(31, 0, 143);
}
.type-qt::placeholder{
    display: block;
    color: rgb(94, 94, 94);
}
.create-btn{
    margin-top: .5rem;
    width: 100%;
    padding: .2rem ;
    font-size: 1.3rem;
    border: none;
    color: rgb(255, 255, 255);
    border-radius: .3rem;
    background-color: rgb(60, 0, 156);
    box-shadow: 0 .1rem .6rem -.2rem rgb(34, 0, 87);
    cursor: pointer;
    transition: .4s ease;

}
.create-btn:disabled{
    transition: .4s ease;
    background-color: rgb(235, 235, 235);
    color: rgb(192, 192, 192);
    box-shadow: none;

}
@media (orientation :portrait){
    .create-quote{
        width: 90vw;
        margin:5vw;
    }
    .type-qt{
        width: 100%;
    }
}


